{% extends 'base.html' %}

{% block content %}
<p class="lead">GDP by country</p>
<div class="row">
    <div id="bar-chart" class="col-10">
        {% include 'partials/chart.html' %}
    </div>
    <div class="col-2">
            <select name="year" 
                    id="select-year" 
                    class="custom-select" 
                    autocomplete="off"
                    hx-get="{% url 'index' %}"
                    hx-target="#bar-chart">
                {% for year in years %}
                <option value="{{year}}">{{year}}</option>
                {% endfor %}
            </select>
    </div>
</div>

{% endblock content %}