{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}CPI Index{% endblock title %}

{% block content %}
<div id="wrapper">

    <section id="three" class="wrapper style1 fade-up">
        <div class="inner">
            <h2>Login with Global Macro</h2>
            <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>
            <div class="split style1">
                {% if messages %}
                {% for message in messages %}
                <div class="row">
                    <div class="col-4 col-12-medium-{{ message.tags }}">
                        <h2>{{ message|safe }}</h2>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                <section>
                    <form method="post" action="{% url 'login' %}" autocomplete='off'>{% csrf_token %}
                        <div class="fields">
                            <div class="field half">
                                <label for="email">Email</label>
                                <input type="text" name="email" id="email" />
                            </div>
                            <div class="text-danger mt-2" id="username-err"></div>
                            <div class="field half">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" />
                            </div>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Create Account" class="primary" /></li>
                            <li><input type="reset" value="Reset" /></li>
                        </ul>
                    </form>
                </section>
                <section>
                    <ul class="contact">
                        <li>
                            <h3>Email</h3>
                            <a href="#">user@untitled.tld</a>
                        </li>
                        <li>
                            <h3>Social</h3>
                            <ul class="icons">
                                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                                <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                                <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </section>



</div>
{% endblock content %}